body {
  font-family: "Noto Sans SC", sans-serif;
}

table {
  margin: auto;
  width: 50%;
  border-style: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
  border: 2px solid rgb(71, 71, 71);
  cursor: pointer;
}
tr th {
  background-color: rgb(92, 92, 92);
  padding: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mobname {
  background-color: greenyellow;
  color: black;
}
h1 {
  text-align: center;
}
tr td {
  padding: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.row {
  background-color: rgb(143, 3, 3);
  color: white;
}

.tabdata {
  background-color: rgb(226, 225, 225);
}
.container {
  margin-bottom: 10rem;
}

.img {
  width: 20%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.second-sec-btn {
  margin: 2rem;
  font-size: 1rem;
  width: 20%;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 600;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #000000de;
  text-transform: uppercase;
  text-decoration: none;
}

.social {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}
.ordered li {
  font-size: 1.5rem;
  padding: 1rem;
}
.social1 {
  text-decoration: none;
  color: red;
}
.social2 {
  text-decoration: none;
  color: white;
  background-color: black;
}
.social3 {
  text-decoration: none;
  color: yellow;
}
.social4 {
  text-decoration: none;
  color: green;
}
.social5 {
  text-decoration: none;
  color: blue;
}
.article {
  display: flex;
  padding: 1rem;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1px;
  flex-flow: column wrap;
  color: #ffffff;
}
.h1-artic {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
}
.article-container {
  background-color: rgb(28, 25, 25);
  border-radius: 0.5rem;
  padding: 2rem;
}

.map-cont {
  margin-top: 10rem;
}
.map {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.main-map {
  width: 100vw;
  margin: 0 2rem 0 2rem;
  border-radius: 2rem;
}
.intro {
  padding-bottom: 1rem;
}
.sub-map {
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.manny {
  display: flex;
  justify-content: center;
  width: 70%;
  border-radius: 1rem;
}
.manny-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  text-align: center;
  justify-content: center;
}
